.site-header {
	--container-padding-inline: 100px;

	min-height: var(--header-height, auto);
	align-content: center;
	background-color: var(--header-bg, transparent);
	color: var(--header-color, currentcolor);
}

.logo-header {
	@media (--mobile) {
		width: 160px;
		height: 13px;
	}
}
