main > .container-slider:first-child {
	--slider-height: calc(100vh - var(--header-height, 0));
}

.container-slider {
	--container-padding-inline: 0px;
}

.slider {
	overflow: hidden;
	background-color: beige;

	@media (orientation: landscape) {
		height: var(--slider-height, auto);
	}
}

.slides {
	height: inherit;
}

.slide {
	display: grid;
	overflow: hidden;
	height: inherit;
	grid-template-areas: "stack";

	& > * {
		grid-area: stack;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
