header.site-header
  .container.navbar-container
    nav.navbar
      .navbar-brand
        a(href="/", aria-label="Inicio") Layout Flow
        button.button-menu(aria-label="Menu") &#9776;

      .navbar-menu
        .navbar-start
          ul.menu
            li.menu-item
              a.menu-link(href="#!") En alianza
            li.menu-item
              a.menu-link(href="#!") Directorio
            li.menu-item
              a.menu-link(href="#!") Blog
            li.menu-item
              a.menu-link(href="#!") Prensa
            li.menu-item
              a.menu-link(href="#!")  Para empresas

        .navbar-end
          ul.menu
            li.menu-item
              a.menu-link(href="#!", aria-label="Facebook") FB
            li.menu-item
              a.menu-link(href="#!", aria-label="x/Twitter") TW
            li.menu-item
              a.menu-link(href="#!", aria-label="Instagram") IN
            li.menu-item
              a.menu-link(href="#!", aria-label="YouTube") YT
            li.menu-item
              a.menu-link(href="#!", aria-label="Idioma/Language") LN
