header.site-header
  .container.navbar-container
    nav.navbar
      .navbar-brand
        a(href="/", aria-label="Inicio")
          img(class="logo-header" src="/images/logo-inverted.png", alt="", height="25", width="320")
        button.button-menu(aria-label="Menu") &#9776;

      .navbar-menu
        //-.navbar-start
          ul.menu
            li.menu-item
              a.menu-link(href="#!") En alianza
            li.menu-item
              a.menu-link(href="#!") Directorio
            li.menu-item
              a.menu-link(href="#!") Blog
            li.menu-item
              a.menu-link(href="#!") Prensa
            li.menu-item
              a.menu-link(href="#!")  Para empresas

        .navbar-end
          ul.menu
            li.menu-item
              a.menu-link(href="#!") About
            li.menu-item
              a.menu-link(href="#!") Case Studies
            li.menu-item
              a.menu-link(href="#!") Contact
