extends ../templates/default
block vars
 - title = "Inicio"
 - classes = "home"
block content
  .container
    p 
     img(src="https://placehold.co/320x240/663399/ffffff/webp?text=Layout+Flow", alt="")
     | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta itaque et inventore maxime voluptates ratione est obcaecati neque explicabo, velit, beatae illo. Iusto officia dolorum sunt voluptatibus id nesciunt soluta?

    .is-fullwidth-content
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique excepturi sunt eos recusandae laborum ab perferendis blanditiis mollitia. Fugit ratione laborum illo pariatur deleniti. Reiciendis, praesentium voluptates? Debitis, expedita accusamus?

  .container.is-fullwidth
   p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum tenetur incidunt excepturi, ipsa eum rerum vero. Id neque, asperiores dolor amet autem praesentium repudiandae unde cupiditate nisi odio reiciendis similique?p
