extends ../templates/default
block vars
 - title = "Inicio"
 - classes = "home"
block content
  .container.is-fullwidth.container-slider
    .slider
     .slides
      .slide
       img(src="https://placehold.co/1280x768/webp?text=Slide+1", alt="")

  .container
    p 
     img(src="https://placehold.co/320x240/663399/ffffff/webp?text=Layout+Flow", alt="")
     | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta itaque et inventore maxime voluptates ratione est obcaecati neque explicabo, velit, beatae illo. Iusto officia dolorum sunt voluptatibus id nesciunt soluta?

    .is-fullwidth-content
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique excepturi sunt eos recusandae laborum ab perferendis blanditiis mollitia. Fugit ratione laborum illo pariatur deleniti. Reiciendis, praesentium voluptates? Debitis, expedita accusamus?

